

.dropdown-content{
    box-shadow: rgba(149, 157, 165, 0.2)
    0px 8px 24px;
    max-height: 40%vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 10;
}

.dropdown-content::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.dropdown-item:hover{
    background-color: rgb(240, 249, 255);
}