.card{
    /* border-radius: 20px; */
}

.card.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(200, 200, 200, 0.2));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card.mate{
    background-color: blueviolet;
}

.card.outlined{
    border: solid white 2px
}

.card.ghost{

}

.card.ghost:hover{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(200, 200, 200, 0.2));
}