input{
    border: none;
    background: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

input:focus{
    outline: none;
}
.input{
    display: flex;
    width: fit-content;
}