.firstrow, .secondrow, .thirdrow{
    display: flex;
    align-items: center;
}

.play-stop{
    display:flex;
    align-items: center;
}

.firstrow{
    justify-content: space-between;
}

.secondrow{
    justify-content:space-between;
}

.secondrow ul{
    padding-inline-start: 0;
    padding-left: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.input-display{
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
}

.secondrow input{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.current-time{
    font-size: 2rem;
    font-weight: bold;
}
.thirdrow{
    justify-content: space-around;
    column-gap: 0.5rem;
}
