
input:disabled{
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: bold;
}

input::placeholder{
    color: hsla(0, 0%, 100%, 0.5);
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    outline: none;
}