input{
    border: none;
    background: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

input:disabled{
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: bold;
}

input::placeholder{
    color: hsla(0, 0%, 100%, 0.5);
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    outline: none;
}

.input{
    display: flex;
    width: fit-content;
}

.full-width{
    width: 100%;
}

.left{
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.right{
    display: flex;
    padding-right: 1rem;
    align-items: center;
}