.section-name{
    text-transform: uppercase;
    font-weight: bold;
    color: hsla(0, 0%, 100%, 0.7);
    letter-spacing: 0.15rem;
    width: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}