#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.viewport{
  display: grid;
  height: 100%;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 100%;
  column-gap: 1rem;
}

@media (max-width: 48rem) {

  html {
    font-size: 12px;
  }

  .viewport{
    grid-template-columns: 100%;
  }
}